<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="card-title">Ajouter un nouveau Restaurant</h4>
                    </div>
                    <div class="col-ms-3">
                        <button (click)="gotoListRestaurantPage()" class="btn btn-info">
                          <span class="btn-label">
                              <i class="now-ui-icons arrows-1_minimal-left"></i>
                          </span>
                          Liste des restaurants
                      </button>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">


                        <form [formGroup]="restaurantForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Nom du restaurant</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.name" formControlName="name" placeholder="Nom du restaurant">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Arrondissement</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="borough" name="borough" [(ngModel)]="data.borough" formControlName="borough" placeholder="Arrondissement">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Type de cuisine</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="cuisines" name="cuisines" [(ngModel)]="data.cuisines" formControlName="cuisines" placeholder="Type de cuisine">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Bâtiment</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="building" name="building" [(ngModel)]="data.building" formControlName="building" placeholder="Bâtiment">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Rue</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="street" name="street" [(ngModel)]="data.street" formControlName="street" placeholder="Rue">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Grade</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="grade" name="grade" [(ngModel)]="data.grade" formControlName="grade" placeholder="Grade">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Score</label>
                                    <div class="form-group">
                                        <input type="number" min="0" max="5" class="form-control" id="score" name="score" [(ngModel)]="data.score" formControlName="score" placeholder="0 à 5">
                                    </div>
                                </div>
                            </div>







                        </form>

                    </div>
                    <div class="col-sm-1"></div>
                </div>


            </div>
            <div class="card-footer ">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button (click)="updateRestaurant()" style="width: 100%;" type="submit" class="btn btn-fill btn-primary">Enregister</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>

    </div>

</div>
