<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="card-title">Liste Restaurants</h4>
                    </div>
                    <div class="col-ms-3">
                        <button (click)="gotoAddRestaurantPage()" class="btn btn-info">
                            <span class="btn-label">
                                <i class="now-ui-icons ui-1_simple-add"></i>
                            </span>
                            Ajouter un restaurant
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form style="width: 50%;">
                    <div class="input-group no-border">
                        <input [(ngModel)]="searchText" name="search" id="search" type="text" value="" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">

                            <tr>
                                <th>Nom Restaurant</th>
                                <th>Type de cuisine </th>
                                <th>Arrondissement</th>
                                <th>bâtiment</th>
                                <th>rue</th>
                                <th>grade</th>
                                <th>score</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let restaurant of restaurants | appFilter: searchText">
                                <td>{{ restaurant.name }}</td>
                                <td>{{ restaurant.cuisines }}</td>
                                <td>{{ restaurant.borough }}</td>
                                <td>{{ restaurant.address.building }}</td>
                                <td>{{ restaurant.address.street }}</td>
                                <td>{{ restaurant.grades.grade }}</td>
                                <td>{{ restaurant.grades.score }}</td>
                                <td class="td-actions text-right">
                                    <button (click)="gotoEditRestaurantPage(restaurant._id['$oid'])" type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </button>
                                    <button (click)="deleteRestaurant(restaurant._id['$oid'])" type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
